.header {
  background-color: #d9d9d9;
  height: fit-content;
  display: flex;
}

.content {
  padding: 20px;
  display: flex;
  flex-direction: column;
  margin: 0px 100px;
}

.flexxusimg {
  padding: 30px;
  align-items: center;
}

.navbar {
  display: flex;
  justify-content: space-between;
}

.subnavbar {
  display: flex;
}

.navbaritem {
  margin: 20px 0;
  height: 40px;
  font-size: 15px;
}
.select {
  margin: 20px
}

.title {
  margin: 5px 0;
  color: #73737373;
  font-weight: 500;
  font-size: 14px;
}

.title span {
  color: #000000d9;
}
